.logoHeader {
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 5;
}
.logoHeader__img {
  height: 70px;
}
