.contentContainer {
  padding-top: 100px;
  width: 75%;
  margin: 0;
}
.cardImg {
  height: 200px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.disabled > .clr {
  color: gray !important;
  border: 0;
  outline: none;
}
.disabled > .clr:focus {
  outline: none;
}
.card {
  width: 100%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.price {
  font-size: 20px;
}

.cardDetail {
  font-size: 14px;
}

.strk {
  text-decoration: line-through;
}

.sectionHeading {
  width: 80%;

  margin: auto;
}
.header {
  position: fixed;
  width: 100%;
  background: #000;
  padding: 20px;
  z-index: 1;
}
.headerImg {
  height: 60px;
}
.addButton {
  border: 0;
  background-color: white;
}
.addButton:focus {
  border: 0 !important;
  outline: none;
}
@media only screen and (max-width: 600px) {
  .contentContainer {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contentContainer {
    width: 65%;
    margin: 0;
  }
}
.btn:focus {
  outline: none !important;
}
