body,
html {
  background-color: lightgray;
  width: 100%;
}
.checkOutbtn {
  background-color: #b51158 !important;
  color: #ffffff !important;
}

.clr {
  color: #b51158 !important;
}

.btnDiv a {
  color: #b51158;
  text-decoration: none;
}

/* scrollbar.css */
